Repository kkawa14/model_optimization, pull requests merged in 2025-07, with the labels that each got.

#16 Apply activation quantization parameters selection
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  tests_pytest/pytorch_tests/unit_tests/core/common/quantization/quantization_params_generation/test_calculate_quantization_params.py
Labels: auto:core

#17 Add holder for FLN quantization
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/fw_agnostic/get_inferable_quantizers.py
  tests_pytest/pytorch_tests/e2e_tests/test_fln_quantization_holder.py
  tests_pytest/pytorch_tests/unit_tests/core/back2framework/test_pytorch_model_builder_fln.py
  tests_pytest/pytorch_tests/unit_tests/exporter/model_wrapper/builder/test_get_activation_quantizer_holder_fln.py
  tests_pytest/pytorch_tests/unit_tests/exporter/model_wrapper/test_get_inferable_quantizers.py
Labels: auto:core, auto:exporter

#19 Apply activation quantization parameters selection(3rd PR internal review)
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_generation/test_calculate_quantization_params.py
  tests_pytest/pytorch_tests/unit_tests/core/common/quantization/quantization_params_generation/test_calculate_quantization_params.py
Labels: auto:core

#25 Dev adding fln actq holder init in model
  tests/external_tests/keras_tests/models_tests/test_networks_runner.py
  tests_pytest/pytorch_tests/unit_tests/core/back2framework/test_pytorch_model_builder_fln.py
Labels: auto:tests

#26 Modify fuse op qcfg access name
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/fusion/fusing_info.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/framework_quantization_capabilities.py
  tests/keras_tests/non_parallel_tests/test_keras_tpc.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_fusing_info_generator_keras.py
  tests_pytest/pytorch_tests/integration_tests/core/fusion/test_fusing_info_generator_torch.py
Labels: auto:core, auto:tests
